<h1 [textContent]="dataBindingTitle"></h1>

<hr>

<h3>Img src binding:</h3>
<img [src]="imgUrl" alt="" width="200" height="200">

<br><hr>

<h3>Class binding: </h3>
<select name=""  id="" #class (change)="0">
  <option value="alert-success">Success</option>
  <option value="alert-danger">Danger</option>
  <option value="alert-warning">Warning</option>
  <option value="alert-info">Info</option>
</select>
<h4>First way</h4>
<div class="alert" [class.alert-success]="class.value == 'alert-success'" role="alert">Success</div>
<div class="alert" [class.alert-danger]="class.value == 'alert-danger'" role="alert">Danger</div>
<div class="alert" [class.alert-warning]="class.value == 'alert-warning'" role="alert">Warning</div>
<div class="alert" [class.alert-info]="class.value == 'alert-info'" role="alert">Info</div>
<h4>Second way</h4>
<div class="alert {{class.value}} text-center" role="alert">Div content colored according with selected option</div>
<h3>Style Binding:</h3>
<div class="alert alert-success text-center" [style.display]="class.value == 'alert-success' ? 'block' : 'none'" role="alert">This div will only appear
  when the sucess option is selected
</div>