<app-cursos style="display: none"></app-cursos>
<hr>
<app-event-binding style="display: none"></app-event-binding>
<hr>
<app-two-way-binding></app-two-way-binding>
<hr>
<app-data-binding style="display: none"></app-data-binding>