<h1>
  Event binding examples
</h1>
<button class="btn btn-primary" (click)="clickMe()">Click me!</button>
<br>
<br>
<label for="">Type something:</label>
<input type="text" #input (keyup)="onKeyUp($event)" (keyup.enter)="saveValue(input.value)" (blur)="saveValue(input.value)"
  class="form-control">
<br>
<p>Value: {{value}}</p>
<br>
<p>Saved value: {{savedValue}}</p>
<br>
<br>
<p [class.highlight]="isMouseOver" (mouseover)="onMouseOver()" (mouseout)="onMouseOver()">{{isMouseOver ? 'Your mouse is
   over me!' : 'Mouse over me!'}}</p>
